body {
    width: 100%;
    text-align: center;
    background-color: rgb(87, 87, 87);
}

#main {
    width: 900px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

#functional {
    padding-right: 100px;
}

h1, h2 {
    color: chartreuse;
}

h3 {
    color: rgb(92, 184, 0);
}

div {
    color: rgb(238, 238, 238);
}